.courses
  %h1 Courses
  %br
  %ul
    - @courses.each do |course|
      %li= link_to course.code, course_path(course), :class=>"courselist btn btn-large"
  %br
  = link_to "Add a course", new_course_path, :class=>"addcourse btn btn-primary"
