@import "bootstrap";
.navbar .nav{
	margin-top : -20px;
	.signinlink{
		padding-left : 650px;
	}
}	
.error{
	color : red;
}
.courselist a{
	text-decoration: none;
	color : black;
}
.courselist a:hover{
	text-decoration: none;
	color : black;
}

.secselect a{
	color: white;
}

.secselect a:hover{
	color: white;
}

.sectionlist {
	margin-top: 10px;
}
.addcourse a{
	text-decoration: none;
	color : white;
}
.addcourse a:hover{
	text-decoration: none;
	color : white;
}