@import "bootstrap";
.navbar .nav{
	margin-top : -20px;
	.signinlink{
		padding-left : 500px;
	}
}	
.error{
	color : red;
}
.courselist{
	text-decoration: none;
	color : black;
}
.courselist:hover{
	text-decoration: none;
	color : black;
}

.secselect {
	color: white;
}

.secselect:hover{
	color: white;
}

.sectionlist {
	margin-top: 10px;
}
.addcourse {
	text-decoration: none;
	color : white;
}
.addcourse:hover{
	text-decoration: none;
	color : white;
}
.courses ul{
	list-style: none;
	li{
		display: inline-block;
	}
}

.homecourse{
	list-style: none;
}

.stulist {
  display: inline-block;
  padding: 4px 12px;
  margin-top: 10px;
  margin-right:50px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
}